body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    background-image: linear-gradient(to bottom, rgb(48, 85, 39), black, rgb(67, 77, 70));
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #8df900;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00f921;
  }
  
  .hidden {
    display: none;
  }
  
  #error {
    color: red;
  }
  