body{
    background-image: radial-gradient(grey, black);
}
.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(255, 92, 125);
    padding: 20px;
    border: 2px solid greenyellow;
  }
  label{
    font-weight: bold;
  }
  input[type="number"] {
    width: 150px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
  }
  button {
    padding: 5px 10px;
    margin: 10px;
    font-size: small;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  button:hover {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
  }
  