.sidebar{
    box-sizing: border-box;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(pexels-aloevera-21751116.jpg);
}
.container{
    width: calc(100vw - 400px);
    height: 100vh;
    background-image: url(pexels-rachel-xiao-253850-772988.jpg);

}
body{
    background-color: rgb(178, 176, 176);
}